*nohup.out

# configs in separate repo
etc/mongo.yaml
etc/rest.yaml
etc/site.yaml

# created on the fly from README.rst's
*README.html

# snakemake cluster logs
snakejob*.sh.[eo][0-9]*
.snakemake/

*_flymake.py

# backup files
*~
\#*
*.tmp

# temp files created by auto checks
*tests.sh.check*

# github generated Python .gitignore:
#------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
