<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">

		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
		<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
		<script>
			$(document).ready(function() {
				$("table").dataTable();
			});
		</script>

	</head>
	<body>
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">bcl2fastq</div>
				<div class="panel-body">
			        <table class="table table-bordered table-hover table-fixed">
		    			<thead>
				            <tr>
				                <th>RUN</th>
				                <th>TIMESTAMP</th>
				            </tr>
		    			</thead>
		    			<tbody>
							{% if result %}
								{{ result }}
							{% else %}
								<script>
									alert("No data available in table")
								</script>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
