<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
		<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/plug-ins/1.10.12/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

		<script>
			$(document).ready(function(){
			    var table = $("#run_table").DataTable({
	    			"order": [[1, "desc"]],
	    			"pagingType": "full_numbers",
//	    			"scrollX": true,
//	    			stateSave: true,
	    			"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
					"search":{
						"regex": true,
						"smart": false
					}
				});
//                $(".analysis_table, .mux_table").DataTable({
//                    "order": [[0, "desc"]],
//                    "bFilter": false,
//                    "bInfo": false,
//                    "bLengthChange": false,
//                    "bPaginate": false
//                });

			    $("#from").datepicker({
                                minDate: new Date(2017, 1 - 1, 1),
			    	maxDate: new Date(),
			    	changeMonth: true,
			    	changeYear: true,
			    	numberOfMonths: 1,
			    	onClose: function(selectedDate){
			    		$("#to").datepicker("option", "minDate", selectedDate);
			    	}
			    });
			    $("#to").datepicker({
                                minDate: new Date(2017, 1 - 1, 1),
			    	maxDate: new Date(),
			    	changeMonth: true,
			    	changeYear: true,
			    	numberOfMonths: 1,
			    	onClose: function(selectedDate){
			    		$("#from").datepicker("option", "maxDate", selectedDate);
			    	}
			    });
			    $("#from").datepicker("option", "dateFormat", "yy-mm-dd");
			    $("#to").datepicker("option", "dateFormat", "yy-mm-dd");
			    $("#from").datepicker("setDate", "2017-01-01");
			    $("#to").datepicker("setDate", new Date());

			    $("#analysis_none").click(function(){
			    		$(".mdl-badge").css("color", "white");
					$(this).css("color", "yellow");
					table.search("FINAL_NONE").draw();
					//table.column(2).search("^((?!STARTED|FAILED|SUCCESS).)*$", true).draw();
			    });
			    $("#analysis_started").click(function(){
					$(".mdl-badge").css("color", "white");
					$(this).css("color", "yellow");
					table.search("FINAL_STARTED").draw();
			    });
			    $("#analysis_failed").click(function(){
					$(".mdl-badge").css("color", "white");
					$(this).css("color", "yellow");
					table.search("FINAL_FAILED").draw();
			    });
			    $("#analysis_success").click(function(){
					$(".mdl-badge").css("color", "white");
					$(this).css("color", "yellow");
					table.search("FINAL_SUCCESS").draw();
			    });
			});
		</script>
		<style>
			main.mdl-layout__content{
				overflow-x: scroll;
			}
			.invisible{
			    visibility: hidden
			}
			#from, #to{
				position: relative; 
				z-index: 10
			}
		</style>
	</head>
	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<form class="form-inline visible-lg visible-md visible-sm" method="POST">
						<div class="form-group">
							<label for="from">RUNS FROM&nbsp</label>
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="Earliest Date" type="text" id="from" name="from">
						</div>
						<div class="form-group">
							<label for="to">&nbspTO&nbsp</label>
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="Latest Date" type="text" id="to" name="to">
						</div>
						<div class="form-group">
							<input class="btn btn-primary-outline" type="submit" name="submit" value="Retrieve">
						</div>
					</form>
					<div class="mdl-layout-spacer visible-lg visible-md" align="center"><span class="nav_caption"></span></div>
					<div class="visible-lg">
						<nav class="mdl-navigation mdl-layout--large-screen-only">
							<label for="from">ANALYSIS STATUS</label>
							<a class="mdl-navigation__link"><span id="analysis_none" class="mdl-badge" data-badge="?">NONE</span></a>
							<a class="mdl-navigation__link"><span id="analysis_started" class="mdl-badge" data-badge="?">STARTED</span></a>
							<a class="mdl-navigation__link"><span id="analysis_failed" class="mdl-badge" data-badge="?">FAILED</span></a>
							<a class="mdl-navigation__link"><span id="analysis_success" class="mdl-badge" data-badge="?">SUCCESS</span></a>
						</nav>
					</div>
				</div>
			</header>
			<div class="mdl-layout-spacer visible-sm visible-xs" align="center"><span class="nav_caption"></span></div>
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">FAQ</span>
				<nav class="mdl-navigation">					
					<ul class='mdl-list'>
						<li class="mdl-list__item">
							<div class="mdl-card">
								<div class="mdl-card__title">What do I do if the page is not displaying any results?</div>
								<div class="mdl-card__supporting-text">
									<span class="mdl-list__item-primary-content">Click on the RETRIEVE button to retrieve all entries in the database.</span>
								</div>
							</div>
						</li>
						<li class="mdl-list__item">
							<div class="mdl-card">
								<div class="mdl-card__title">Does the page shows all entries by default?</div>
								<div class="mdl-card__supporting-text">
									<span class="mdl-list__item-primary-content">Yes, it displays all analyses of run entries in the database.</span>
								</div>
							</div>
						</li>
						<li class="mdl-list__item">
							<div class="mdl-card">
								<div class="mdl-card__title">What are those major columns in the page?</div>
								<div class="mdl-card__supporting-text">
									<span class="mdl-list__item-primary-content">
										RUN – run id with flowcell<br/>
										<br>TIMESTAMP – completion time of the sequencing run</br>
										<br>ANALYSIS – bcl to fastq analysis details</br>
									</span>
								</div>
							</div>
						</li>
						<li class="mdl-list__item">
							<div class="mdl-card">
								<div class="mdl-card__title">What are those fields in the ANALYSIS column?</div>
								<div class="mdl-card__supporting-text">
									<span class="mdl-list__item-primary-content">
										ANALYSIS_ID – bcl to fastq analysis start time<br/>
										<br>TIME – bcl to fastq analysis completed time</br>
										<br>OUT_DIR – bcl to fastq results directory</br>
										<br>STATUS – SUCCESS/FAILED if the bcl to fastq analysis of the entire run is completed successfully/not successfully, or STARTED if the analysis in progress</br>
										<br>MUX – details of the bcl to fastq analysis of the MUX or non-MUX library</br>
									</span>
								</div>
							</div>
						</li>
						<li class="mdl-list__item">
							<div class="mdl-card">
								<div class="mdl-card__title">What are those fields in the MUX column?</div>
								<div class="mdl-card__supporting-text">
									<span class="mdl-list__item-primary-content">
										MUX_ID – MUX id/Library id of the bcl to fastq analysis<br/>
										<br>ARCHIVE – SUCCESS/FAILED if the fastq reads of the library is successfully/not successfully archived to SRA, and TODO if yet to start</br>
										<br>DOWNSTREAM – not informative at the moment</br>
										<br>STATS – SUCCESS/FAILED if the demux stats of the library is successfully/not successfully updated to the webserver, and TODO if yet to start</br>
										<br>STATUS – SUCCESS/FAILED if the bcl to fastq analysis of the MUX/library is completed successfully/not successfully</br>
										<br>EMAIL – TRUE/FALSE if the end status of the analysis is sent to RPD and NGSP via email, and TODO if no emails are sent yet</br>
									</span>
								</div>
							</div>
						</li>
						<li class="mdl-list__item">
							<div class="mdl-card">
								<div class="mdl-card__title">What may be entered in the SEARCH text box?</div>
								<div class="mdl-card__supporting-text">
									<span class="mdl-list__item-primary-content">It could be anything retrieved within the specified date range that may be displayed on the page.</span>
								</div>
							</div>
						</li>
						<li class="mdl-list__item">
							<div class="mdl-card">
								<div class="mdl-card__title">What needs to be entered in the RUNS FROM and TO fields?</div>
								<div class="mdl-card__supporting-text">
									<span class="mdl-list__item-primary-content">Click on the text box and select a date via the pop-up calendar for both FROM and TO text boxes, followed by clicking on the RETRIEVE button.</span>
								</div>
							</div>
						</li>
						<li class="mdl-list__item">
							<div class="mdl-card">
								<div class="mdl-card__title">Can the results be sorted by ascending or descending order?</div>
								<div class="mdl-card__supporting-text">
									<span class="mdl-list__item-primary-content">Yes, the results can be sorted by clicking on the rightmost icon in either the RUN, TIMESTAMP or ANALYSIS column headers.</span>
								</div>
							</div>
						</li>
						<li class="mdl-list__item">
							<div class="mdl-card">
								<div class="mdl-card__title">What do the values -1 and 0 in the TIMESTAMP column mean?</div>
								<div class="mdl-card__supporting-text">
									<span class="mdl-list__item-primary-content">They refer to runs which are aborted or contain errors.</span>
								</div>
							</div>
						</li>
					</ul>
				</nav>
			</div>
			<main class="mdl-layout__content">
				<div class="page-content">
		    		<div class="panel-group">
						<div class="panel-body">
					        <table id="run_table" class="table table-bordered table-hover table-fixed table-compact">
				    			<thead>
						            <tr>
						                <th>RUN</th>
						                <th>TIMESTAMP</th>
						                <th>ANALYSIS</th>
						            </tr>
				    			</thead>
				    			<tbody>
									{% if result %}
										{{ result }}
									{% else %}
										<script>
											alert("No data available in table")
										</script>
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
		    	</div>
			</main>
		</div>
	</body>
</html>
